
/* ===================================================================
                        BASIC SETUPS
 * ------------------------------------------------------------------- */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}



body {
    font-weight: normal;
    line-height: 1;
    word-wrap: break-word;
    
}



/* ------------------------------------------------------------------- 
                        MEDIA FILES
 * ------------------------------------------------------------------- */
img {
    max-width: 100%;
    height: auto;
}



/* ------------------------------------------------------------------- 
                            LINKS
 * ------------------------------------------------------------------- */
a {
    text-decoration: none;
    line-height: inherit;
}

a img {
    border: none;
}
