<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist <%= name %></title>
</head>
<body>
<%= name %><br>
<%= popularity %><br>

<img src="<%= artist_profile_picture %>" alt="artist">

<% if(albums.length >0) {%>
<h1>Albums</h1>
<ul>
    <% albums.forEach((album) => { %>
    <li><a href="/album/<%= album.id %>">
        <img src="<%=album.picture%>">
        <%=album.release_date%>
        <%=album.type%>
        <%= album.name%></a></li>
    <% }); %>
</ul>
<% } %>


</body>
</html>