
html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px
}
body{
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 2.5;
	letter-spacing: 1px;
	word-wrap: break-word;
	font-weight: 400;
	background-color: #000;
	text-align: left;
}

.wrapper_all,
.section,
.content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.content{
	position: relative;
	z-index: 1;
}

.profile-picture{
width:350px;
}
.info{
margin-left: 3%;
width:50%;
margin-top: 7%;
}

.home_title_wrap{
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	text-align: left;
	margin-bottom: 100px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}

.home_title_wrap.portfolio{
	margin-bottom: 20px;
	width:100%;
}

.home_title_wrap .inner{
	width: 100%;
	padding-top: 150px;
	display: flex;
	flex-direction: row;
}
.home_title_wrap h3{
	color: #fff;
	position: relative;
}
.home_title_wrap h3 .animate{
	display: block;
	overflow: hidden;
}


.portfolio_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 160px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}

.portfolio_list{
	list-style-type:none;
	margin: 0px 0px 0px -30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.portfolio_list > li{
	width:33.3333%;
	float:left;
	position:relative;
	margin: 0px 0px 30px 0px;
	padding-left: 30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.portfolio_list .list_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	overflow: hidden;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.portfolio_list .list_inner .image_wrap{
	position: relative;
	width: 100%;
	float: left;
}
.portfolio_list .list_inner .image_wrap .image_inner{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.portfolio_list .list_inner .image_overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,.9);
	z-index: 2;
	
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	
	opacity: 0;
	visibility: hidden;
}
.portfolio_list .image_definition{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	
	opacity: 0;
	visibility: hidden;
}
.portfolio_list .image_definition .title a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-family: "Quicksand";
	font-weight: 600;
	display: inline-block;
}
.portfolio_list .link{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
.portfolio_list .link a{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.portfolio_list .list_inner:hover .image_inner{transform: scale(1.1,1.1) translateZ(0);} 
.portfolio_list .list_inner:hover .image_overlay{
	opacity: 1;
	visibility: visible;
}
.portfolio_list .list_inner:hover .image_definition{
	opacity: 1;
	visibility: visible;
}

.twice_box_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
	margin-bottom: 190px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}

.twice_box_wrap .leftbox{
	width: 40%;
	float: left;
	padding-right: 50px;
}
.twice_box_wrap .leftbox .title h3{
	color: #fff;
	font-size: 25px;
}
.twice_box_wrap .leftbox .title.portfolio h3{
	margin-bottom: 11px;
}
.twice_box_wrap .rightbox{
	width: 60%;
	float: right;
	margin-top: 25px;
}

.twice_box_wrap .detail_list, .info .detail_list{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 15px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.twice_box_wrap .detail_list ul, .info .detail_list ul {
	margin: 0px;
	list-style-type: none;
}
.twice_box_wrap .detail_list ul li, .info .detail_list ul li{margin: 0px;}
.twice_box_wrap .detail_list ul li span, .info .detail_list ul li span{
	display: inline-block;
	min-width: 150px;
}
.twice_box_wrap .detail_list ul li .first, .info .detail_list ul li .first{
	color: #fff;
	font-weight: 600;
}
.twice_box_wrap .detail_list ul li .second, .info .detail_list ul li .second{color: #fff;}
.pagination_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
	margin-bottom: 177px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}


@media (max-width: 1040px) {
	
	.portfolio_wrap{padding: 0px 20px;}
	
}

@media (max-width: 768px) {
	.home_title_wrap .inner{flex-direction: column;}
	.profile-picture{margin-left: auto;margin-right: auto;}
	.info{width: 90%;right: auto;left: auto;}
	.home_title_wrap h3{font-size: 27px;}
	.home_title_wrap .inner{padding-top: 125px;}
	.home_title_wrap{margin-bottom: 170px;}
	.twice_box_wrap{margin-bottom: 150px;}
	.portfolio_wrap{margin-bottom: 137px;}
	.portfolio_list > li{width: 50%;}
	.pagination_wrap{margin-bottom: 152px;}
	.pagination_wrap .left{display: none;}
	.twice_box_wrap{display: block;}
	.twice_box_wrap .leftbox{width: 100%;margin-bottom: 50px;}
	.twice_box_wrap .rightbox{width: 100%; right:auto; left:auto}
	body{line-height: 2.3;}
	#single{margin-top:0; margin-left: 0;};
}
@media (max-width: 480px) {
	.navigation_wrap{padding: 20px 0px;}
	.top_bar_wrap ul li{margin: 0px;}
	.home_title_wrap h3{font-size: 24px;}
	.home_title_wrap .inner{padding-top: 100px;}
	.home_title_wrap.portfolio{margin-bottom: 35px;}
	.home_title_wrap{margin-bottom: 150px;}
	.portfolio_wrap{margin-bottom: 112px;}
	.portfolio_list > li{width: 100%;}
	.twice_box_wrap{margin-bottom: 75px;}
	.twice_box_wrap .leftbox .title h3{font-size: 22px;}
	.portfolio_list > li{width: 100%;}
	body{line-height: 2.1;}
}	

#notting{
	width: 80%;
	margin-top:0;
	margin-left: 10%;
}

#notting h3{
	margin: 0;
	color: #39b54a;
}

#notting a{
	color: #39b54a;
}

#notting a:hover{
	color: #fff;
}

